[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-filter = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.13"
